.SelectorContainer {
    font-size: 16px;
    padding: 20px;
}

.SelectorContContainer {
    width: 100%;
    display: inline-block;
}

.SelectorContainer__Col {
    width: fit-content;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: 1px solid grey;
}

.SelectorContainer__Col--active {
    border: 1px solid black;
    background: grey;
}